@inject IJSRuntime JsRuntime;
@inject Aurora.Devices.Layout.GlobalDeviceLayout deviceLayout

<ContextMenu Id="device-menu" ListCssClass="overlay" CssClass="overlay" ShownCssClass="overlay">
    <Item Id="menuitem-edit" OnClick="ItemClick" OnAppearing="ItemOnAppearingHandler">Edit</Item>
    <Item Id="menuitem-stopedit" OnClick="ItemClick" OnAppearing="ItemOnAppearingHandler">Stop Editing</Item>
</ContextMenu>

<ContextMenuTrigger MenuId="device-menu" Data="this">
    <div class="virtual-layout" @onmouseout="OnMouseOut">

        <div id='virtual-region'>
            @foreach (Aurora.Devices.Layout.DeviceLayout device in deviceLayout.AllLayouts)
            {
                <div @onmouseover="DeviceOnMouseOver" @onmouseout="DeviceOnMouseOut" @onmousedown="DeviceOnMouseDown">
                    <DeviceLayout Device="@device" @bind-EditMode="@EditMode" />
                </div>
            }
        </div>
    </div>
</ContextMenuTrigger>


@code {

    [Parameter]
    public bool EditMode { get; set; }

    [Parameter]
    public EventCallback<bool> EditModeChanged { get; set; }

    protected override void OnInitialized()
    {
        //deviceLayout.NewLayerRender += (_) => { this.StateHasChanged(); };

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeAsync<object>("attachPanZoom", "#virtual-region");
        }
    }

    void OnMouseOut(MouseEventArgs e)
    {

    }

    async Task DeviceOnMouseDown(MouseEventArgs e)
    {

    }

    async Task DeviceOnMouseOver(MouseEventArgs e)
    {
        await JsRuntime.InvokeAsync<object>("pausePanZoom");
    }

    async Task DeviceOnMouseOut(MouseEventArgs e)
    {
        await JsRuntime.InvokeAsync<object>("resumePanZoom");

    }

    void ItemOnAppearingHandler(ItemAppearingEventArgs e)
    {
        GlobalDeviceLayout layout = (GlobalDeviceLayout)e.ContextMenuTrigger.Data;

        switch (e.MenuItem.Id)
        {
            case "menuitem-edit":
                e.IsVisible = !layout.EditMode;
                break;
            case "menuitem-stopedit":
                e.IsVisible = layout.EditMode;
                break;
        }
    }

    void ItemClick(ItemClickEventArgs e)
    {
        GlobalDeviceLayout layout = (GlobalDeviceLayout)e.ContextMenuTrigger.Data;

        switch (e.MenuItem.Id)
        {
            case "menuitem-edit":
                layout.EditMode = true;
                break;
            case "menuitem-stopedit":
                layout.EditMode = false;
                break;
        }
    }
}
