[submodule "GlobalMouseKeyHook"]
	path = GlobalMouseKeyHook
	url = https://github.com/DogeAmazed/globalmousekeyhook.git
[submodule "Wooting.NET"]
	path = Wooting.NET
	url = https://github.com/simon-wh/Wooting.NET.git
