[submodule "SBAuroraR.NET"]
	path = SBAuroraR.NET
	url = https://github.com/rajkosto/SBAuroraR.NET.git
[submodule "SteelSeriesServer"]
	path = SteelSeriesServer
	url = https://github.com/gyorokpeter/SteelSeriesServer.git
