[submodule "NAudio"]
	path = NAudio
	url = https://github.com/simon-wh/NAudio.git
[submodule "GlobalMouseKeyHook"]
	path = GlobalMouseKeyHook
	url = https://github.com/DogeAmazed/globalmousekeyhook.git
