.virtual-layout {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.virtual-layout svg {
    cursor: grab;
}

.virtual-layout svg[data-editmode="True"] g[data-device-id] {
    cursor: move;
}

.virtual-layout-edit-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
}