.virtual-layout {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.virtual-layout svg {
    cursor: grab;
}

.virtual-layout svg[data-editmode="True"] g[data-device-id] {
    cursor: move;
}

.virtual-layout-edit-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.virtual-layout svg[data-editmode="True"] line[data-role="hoz-guide"], .virtual-layout svg[data-editmode="True"] line[data-role="vert-guide"] {
    stroke: cyan;
    stroke-width: 2;
    stroke-dasharray: 6 4;
}