@page "/"
@namespace AuroraUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuroraUI</title>
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="_content/Blazor.ContextMenu/blazorContextMenu.min.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <!-- Blazor runtime -->
    <script src="_framework/blazor.server.js"></script>

    <!-- External scripts -->
    <script src="_content/Blazor.ContextMenu/blazorContextMenu.min.js"></script>
    <script src="~/js/perfect-scrollbar.min.js"></script>
    <script src="~/js/pickr.min.js"></script>
    <script src="~/js/popper.min.js"></script>

    <!-- Aurora UI scripts -->
    <script src="~/js/aurora-ui/color-picker.js"></script>
    <script src="~/js/aurora-ui/device-layout.js"></script>
    <script src="~/js/aurora-ui/dropdown.js"></script>
    <script src="~/js/aurora-ui/scrollbar.js"></script>
</body>
</html>
