<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="Default" switchName="DefaultSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" />
          </add>
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Verbose" />
    </switches>
  </system.diagnostics>
</configuration>
