<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDir" value="${specialfolder:folder=ApplicationData}/Aurora/Logs"/>

  <targets>
    <target name="debugger" xsi:type="Debugger" layout="[${uppercase:${level}}] ${date:format=HH\:mm\:ss}: ${message}"/>
    <target xsi:type="File" name="main" fileName="${logDir}/${cached:${date:format=yyyy-MM-dd HH.mm.ss}}.log" layout="[${uppercase:${level}}] ${date:format=HH\:mm\:ss}: ${message}"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            enableFileDelete="true"
            archiveFileName="${logDir}/{#}.log"
            archiveDateFormat="yyyy-MM-dd HH.mm.ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="5"
            />
  </targets>

  <rules>
    <logger name="*" writeTo="main,debugger" />
  </rules>
</nlog>