@using  Aurora.Settings.Layers
@using System.Collections.ObjectModel

<ContextMenu Id="layer-menu" Animation="Animation.Grow">
    <Item><Icon Name="cancel" /> Disable</Item>
    <Item><Icon Name="check" /> Enable</Item>
    <Item><Icon Name="eye-off-outline" /> Copy</Item>
    <Item><Icon Name="eye-outline" /> Paste</Item>
    <Seperator />
    <Item><Icon Name="trash-can-outline" /> Delete</Item>
</ContextMenu>

<div class="list-group fg-1">
    <span>Gonna leave this for now until we've figured out how layer groups and stuff work</span>
    @foreach (var layer in Layers)
    {
        //Use @key to stop the items from remaining selected when the Profile changes
        <ContextMenuTrigger @key="@layer.Name" MenuId="layer-menu" Data="layer">
            <a @onclick="@(e => LayerSelected(layer))" class="@(SelectedLayer == layer ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action")">
                @layer.Name
            </a><br/>
        </ContextMenuTrigger>
    }
</div>

@code {
    [Parameter]
    public ObservableCollection<Layer> Layers { get; set; }

    [Parameter]
    public EventCallback<ObservableCollection<Layer>> LayersChanged { get; set; }

    [CascadingParameter(Name = "SelectedLayer")]
    public Layer SelectedLayer { get; set; }
    [CascadingParameter(Name = "SelectedLayerChanged")]
    public Action<Layer> SelectedLayerChanged { get; set; }

    void LayerSelected(Layer lyr)
    {
        SelectedLayer = lyr;
        SelectedLayerChanged?.Invoke(lyr);
    }
}
