@inherits ControlBase
@implements IDisposable
@inject IJSRuntime JsRuntime

<div style="position:relative">
    <div @ref="triggerElement">
        @Trigger
    </div>
    <div @ref="contentElement" class="dropdown-content @(FullWidth ? "w-full" : "")">
        @Content
    </div>
</div>

@code {
    [Parameter] public RenderFragment Trigger { get; set; }
    [Parameter] public RenderFragment Content { get; set; }

    [Parameter] public bool FullWidth { get; set; } = false;

    ElementReference triggerElement;
    ElementReference contentElement;


    protected override void OnAfterRender(bool firstRender) {
        if (firstRender)
            JsRuntime.InvokeVoidAsync("auroraUi.dropdown.init", triggerElement, contentElement, DotNetObjectReference.Create(this), FullWidth ? "bottom-start" : "bottom");
    }

    public void Dispose() {
        JsRuntime.InvokeVoidAsync("auroraUi.dropdown.dispose", triggerElement);
    }
}